<h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">
	Reestablecer Password
</h1>

<p style="font-family: Arial, Helvetica, sans-serif;">
	Hola, haz solicitado reestablecer tu password, haz click en el siguiente
	enlace, este enlace es temporal, si se vence es necesario que vuelvas a
	solicitar otro email.
</p>

<a
	href="{{resetUrl}}"
	style="display: inline-block; 
    font-family: Arial, Helvetica, sans-serif; 
    padding: 1rem; 
    background-color: #00C897; 
    color: #fff; 
    text-transform: uppercase; 
    text-align: center; 
    text-decoration: none;
	border-radius: 8px;"
>Resetear Password</a>

<p style="font-family: Arial, Helvetica, sans-serif;">
	Si no puedes acceder a este enlace, visita:
	{{resetUrl}}
</p>

<p style="font-family: Arial, Helvetica, sans-serif;">
	Si no solicitaste este email, puedes ignorarlo.
</p>